charset-normalizer
urllib3
gpiod==1.4.0
numpy==1.19.3
httpx
Jetson.GPIO
requests
pynau7802==0.2.1
mlx90640-driver==1.1.2
mlx90640-driver-devicetree==1.1.0
scipy==1.5.4
cmapy==0.6.6
bme680==1.1.1
StereoVision==1.0.4
pydub==0.25.1
pyaudio==0.2.14
pyrealsense2==2.54.2.5684